.collapser {
	cursor: pointer;
	display: flex;
	align-items: center;

	.collapse-arrow {
		transition: transform 200ms;
		font-size: 20px;
		margin-right: 8px;
	}

	&.collapsed {
		height: 0px;
		.collapse-arrow {
			transform: rotate(-90deg);
		}
	}
}

.collapsee {
	overflow: hidden;

	.form-container {
		padding-top: 0;
	}

	.collapsee-inner {
		margin-top: 0;
		transition: margin-top 200ms;
		margin-bottom: 35px;
	}

	&.collapsed {

		.collapsee-inner {
			margin-top: -200%;
		}
	}
}

.content{
	&.collapsee.collapsed {
		height: 0px;
	}
}

.full-width{
    width: 100%;
}

.as-form-container{
	&.collapser.collapsed{
		height:35px;
		font-size: 18px;
	}
}