@import '../../css/_basic.scss';

.connect-wallet-popup-content {
	background-color: white;
	border-radius: $borderRadius;
	padding: 2em;
	display: flex;
	flex-direction: column;
	row-gap: 48px;
	overflow: auto;
	max-width: calc(100vw - 1em);
	max-height: calc(100vh - 1em);
	box-sizing: border-box;

	@media (max-width: $mobile) {
		padding: 1em;

		.form-container {
			max-width: calc(100vw - 4em);
		}
	}
}

.connect-wallet--call-for-action {
	font-weight: 500;
	line-height: 2;
	text-align: center;
	text-transform: uppercase;

	&.extra-font-weight {
		font-weight: 700;
	}

	@media (min-width: 1px) {
		font-size: calc(1rem + ((1vw - 0.01px) * 0.8342));
		min-height: 0vw;
	}

	@media (min-width: 960px) {
		font-size: 24px;
	}
}

.connect-wallet-buttons {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	margin-left: auto;
	margin-right: auto;
}


.connect-wallet-button {
	background-color: $activeM;
	color: white;
	border: 0;
	border-radius: 24px;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	position: relative;
	text-align: center;
	width: 280px;

	@media (max-width:$mobile) {
		max-width: 75vw;
	}

	height: 48px;
	cursor: pointer;
	position: relative;

	&:disabled,
	&[disabled] {
		pointer-events: none;
		opacity: .5;
	}

	&>img {
		width: 24px;
		height: 24px;
		position: absolute;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
	}

	&>.spinner {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
	}

	&:hover {
		background: $hoverM;
	}

	&:active {
		background: $chosenM;
	}
}